**TITLE : MACHINE LEARNING BASED HEART DISEASE PREDICTION**

**OBJECTIVE :** To predict whether a patient has heart disease

**Import Library**

In [ ]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
from functools import reduce

**Import Data**

In [ ]:
#reading dataset
df = pd.read_csv('hearts.csv')

In [ ]:
df

,Id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,2,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,3,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,4,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,5,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1021,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,1022,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,1023,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,1024,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,1025,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

**Describe Data**

In [ ]:
df['age'].unique()

array([52, 53, 70, 61, 62, 58, 55, 46, 54, 71, 43, 34, 51, 50, 60, 67, 45,
       63, 42, 44, 56, 57, 59, 64, 65, 41, 66, 38, 49, 48, 29, 37, 47, 68,
       76, 40, 39, 77, 69, 35, 74], dtype=int64)

### Gender
#### 0= Female 1= male

In [ ]:
df['sex'].unique()

array([1, 0], dtype=int64)

### Chest Pain :
#### 0= Typical angina
#### 1= Atypical angina
#### 2= Non-anginal pain
#### 3 =Asymptomatic

In [ ]:
df['cp'].unique()

array([0, 1, 2, 3], dtype=int64)

### Resting Blood Pressure

In [ ]:
df['trestbps'].unique()

array([125, 140, 145, 148, 138, 100, 114, 160, 120, 122, 112, 132, 118,
       128, 124, 106, 104, 135, 130, 136, 180, 129, 150, 178, 146, 117,
       152, 154, 170, 134, 174, 144, 108, 123, 110, 142, 126, 192, 115,
        94, 200, 165, 102, 105, 155, 172, 164, 156, 101], dtype=int64)

### Serum Cholestrol

In [ ]:
df['chol'].unique()

array([212, 203, 174, 294, 248, 318, 289, 249, 286, 149, 341, 210, 298,
       204, 308, 266, 244, 211, 185, 223, 208, 252, 209, 307, 233, 319,
       256, 327, 169, 131, 269, 196, 231, 213, 271, 263, 229, 360, 258,
       330, 342, 226, 228, 278, 230, 283, 241, 175, 188, 217, 193, 245,
       232, 299, 288, 197, 315, 215, 164, 326, 207, 177, 257, 255, 187,
       201, 220, 268, 267, 236, 303, 282, 126, 309, 186, 275, 281, 206,
       335, 218, 254, 295, 417, 260, 240, 302, 192, 225, 325, 235, 274,
       234, 182, 167, 172, 321, 300, 199, 564, 157, 304, 222, 184, 354,
       160, 247, 239, 246, 409, 293, 180, 250, 221, 200, 227, 243, 311,
       261, 242, 205, 306, 219, 353, 198, 394, 183, 237, 224, 265, 313,
       340, 259, 270, 216, 264, 276, 322, 214, 273, 253, 176, 284, 305,
       168, 407, 290, 277, 262, 195, 166, 178, 141], dtype=int64)

### Fasting Blood Sugar
#### 0= false 1= true

In [ ]:
df['fbs'].unique()

array([0, 1], dtype=int64)

### Resting ECG

#### 0 = Nothing to note
#### 1 = ST-T Wave abnormality
#### 2 = Possible or definite left ventricular hypertrophy

In [ ]:
df['restecg'].unique()

array([1, 0, 2], dtype=int64)

### Thalassemia

In [ ]:
df['thalach'].unique()

array([168, 155, 125, 161, 106, 122, 140, 145, 144, 116, 136, 192, 156,
       142, 109, 162, 165, 148, 172, 173, 146, 179, 152, 117, 115, 112,
       163, 147, 182, 105, 150, 151, 169, 166, 178, 132, 160, 123, 139,
       111, 180, 164, 202, 157, 159, 170, 138, 175, 158, 126, 143, 141,
       167,  95, 190, 118, 103, 181, 108, 177, 134, 120, 171, 149, 154,
       153,  88, 174, 114, 195, 133,  96, 124, 131, 185, 194, 128, 127,
       186, 184, 188, 130,  71, 137,  99, 121, 187,  97,  90, 129, 113],
      dtype=int64)

### Excercise Induced Angina
#### 0 = no  1 = yes

In [ ]:
df['exang'].unique()

array([0, 1], dtype=int64)

### Old Peak

In [ ]:
df['oldpeak'].unique()

array([1. , 3.1, 2.6, 0. , 1.9, 4.4, 0.8, 3.2, 1.6, 3. , 0.7, 4.2, 1.5,
       2.2, 1.1, 0.3, 0.4, 0.6, 3.4, 2.8, 1.2, 2.9, 3.6, 1.4, 0.2, 2. ,
       5.6, 0.9, 1.8, 6.2, 4. , 2.5, 0.5, 0.1, 2.1, 2.4, 3.8, 2.3, 1.3,
       3.5])

### Slope
#### 0 = Upsloping 1=  Flatsloping 2 =  Downsloping

In [ ]:
df['slope'].unique()

array([2, 0, 1], dtype=int64)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        1025 non-null   int64
 1   age       1025 non-null   int64
 2   sex       1025 non-null   int64
 3   cp        1025 non-null   int64
 4   trestbps  1025 non-null   int64
 5   chol      1025 non-null   int64
 6   fbs       1025 non-null   int64
 7   restecg   1025 non-null   int64
 8   thalach   1025 non-null   int64
 9   exang     1025 non-null   int64
 10  oldpeak   1025 non-null   float64
 11  slope     1025 non-null   int64
 12  ca        1025 non-null   int64
 13  thal      1025 non-null   int64
 14  target    1025 non-null   int64
dtypes: float64(1), int64(14)
memory usage: 120.2 KB

**Define Target Variable (y) and Feature Variables (X)**

In [ ]:
#split into X and Y datasets
X = df.drop(['target','ca','thal','Id'], axis = 1)

y = df['target']

In [ ]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope
0,52,1,0,125,212,0,1,168,0,1.0,2
1,53,1,0,140,203,1,0,155,1,3.1,0
2,70,1,0,145,174,0,1,125,1,2.6,0
3,61,1,0,148,203,0,1,161,0,0.0,2
4,62,0,0,138,294,1,1,106,0,1.9,1
...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2
1021,60,1,0,125,258,0,0,141,1,2.8,1
1022,47,1,0,110,275,0,0,118,1,1.0,1
1023,50,0,0,110,254,0,0,159,0,0.0,2
1024,54,1,0,120,188,0,1,113,0,1.4,1

In [ ]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

**Train Test Split**

In [ ]:
#splitting into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=9)
print(X_train.shape)
print(X_test.shape)

(717, 11)
(308, 11)

**Modeling, Prediction and Accuracy**

# Decision Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

In [ ]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)

from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

dt=accuracy_score(y_test,y_pred)
dt

[[141   6]
 [  6 155]]

0.961038961038961